<div class="d-flex align-items-center">
  <h1>イベント管理画面</h1>
  <div class="ml-auto boards__linkBox">
    <a href="/events/new" class="btn btn-outline-dark">新規作成</a>
  </div>
</div>

<table class="table table-hover boards__table">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>タイトル</th>
      <th>作成者</th>
      <th>作成日時</th>
      <th>更新日時</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>詳細</td>
    </tr>
  </tbody>
</table>