    <ul class="user__menu-items">
        <li class="user__menu-item"><%= link_to 'プロフィール編集', mypage_profile_edit_path %></li>
        <li class="user__menu-item"><%= link_to 'パスワード編集', edit_user_registration_path %></li>
        <li class="user__menu-item"><%= button_to 'ログアウト', destroy_user_session_path, method: :delete %></li>        
    </ul>