<h2>マイページ</h2>
<div class="contents mypage_contents">
<div class="mypage_contents_sidebar">
予約一覧
プロフィール編集
パスワード編集
ログアウト
</div>
<div class="mypage_contents_main">
image
名前
メールアドレス：<%= @user.email %>
</div>
</div>