<h2>マイページ</h2>
<div class="contents mypage_contents d-flex">
    <div class="mypage_contents_sidebar">
        <ul class="mypage_sidebar_lists text-center">
            <li class="mypage_sidebar_list">予約一覧</li>
            <li class="mypage_sidebar_list">プロフィール編集</li>
            <li class="mypage_sidebar_list">パスワード編集</li>
            <li class="mypage_sidebar_list"><%= button_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
        </ul>
    </div>
    <div class="mypage_contents_main">
    image
    名前
    メールアドレス：<%= @user.email %>
    </div>
</div>