<div class="container user-container">
    <h2 class="title__main">マイページ</h2>

        <%= render partial: 'profile', locals: { user: @user }%>
    
    <div class="d-sm-flex">
        <div class="col-sm-3">
            <%= render partial: 'menu', locals: { user: @user } %>
        </div>
        <div class="col-sm-9">
            <div class="user__cont">
                <div class="user__cont-reserved">
                    <h3 class="user__subTitle title__sub">予約済みイベント</h3>
                    <%= render partial: 'reservations/reservations', locals: { reservations: @reservations } %>
                </div>
                <div class="user__cont-likes">
                    <h3 class="user__subTitle title__sub">いいねしたイベント</h3>
                    <%= render partial: 'likes/like_event', locals: { likes: @likes } %>
                </div>
            </div>
        </div>
    </div>
</div>