<main role="main">
  <section class="event-main text-center">
    <h1 class="jumbotron-heading event_contents">Field of Music</h1>
    <p class="lead text-muted">“大好き”を詰め込んだ音楽コミュニティ。</p>
  </section>

  <div class="bg-light">
    <div class="event-contents">
      <h2 class= "text-dark">イベント一覧</h2>
      <%= render partial: 'event', locals: { events: @events }%>
      <%= paginate @events %>
    </div>
    <div class="event-contents">
      <h2 class= "text-dark">過去イベント一覧</h2>
      <%= render partial: 'event', locals: { events: @past_events }%>
      <%= paginate @past_events %>
    </div>
  </div>
</main>