    <main role="main">
        <section class="jumbotron text-center py-5">
            <div class="container">
                <h1 class="jumbotron-heading">Field of Music</h1>
                <p class="lead text-muted">“大好き”を詰め込んだ音楽コミュニティ。</p>
            </div>
        </section>
        <div class="my-3 bg-light">
            <% if flash[:notice] %>
              <div class="alert alert-danger"><%= flash[:notice] %></div>
            <% end %>
            <div class="container">
            <h2 class= "py-4 text-dark">イベント一覧</h2>
              <div class="row row-cols-1 row-cols-md-3"">
                <% @events.each do |event| %>
                  <div class="col mb-4">
                    <div class="card mb-4 shadow-sm" width="20rem;">
                      <img src="img/card.jpg" class="card-img-top px-3 mb-3" alt="...">
                      <div class="card-body">
                        <h5 class="card-title"><%= event.title %></h5>
                        <p class="card-text"><%= event.content %></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">詳細</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">編集</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">削除</button>
                            </div>
                            <small class="text-muted"><%= event.created_at %></small>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
        </div>
    </main>