<div class="container">
    <div class="d-flex align-items-center">
        <h2 class="title__main">イベント作成</h2>
        <div class="ml-auto boards__linkBox">
            <%= link_to '一覧へ戻る', events_path, class: 'btn btn-outline-dark' %>
        </div>
    </div>
    <%= render partial: 'form', locals: { event: @event } %>
</div>