<div class="container mt-10">
    <div class="d-flex align-items-center">
        <h2 class="py-4">イベント作成</h2>
        <div class="ml-auto boards__linkBox">
            <a class="'btn btn-outline-dark'" href="../">一覧</a>
        </div>
    </div>
    <%= render partial: 'form', locals: { event: @event } %>
</div>