<div class="container">
    <h2>予約一覧</h2>
    <% if @reservations %>
        <div class="reservation-box">
            <div class="reservation-event_title"><%= @reservations.event.title %></div>
            <div class="reservation-event_contents">
                <p class="reservation-event_datetime"><%= @reservations.event.event_date %>　<%= @reservations.event.event_start_time %></p>
                <p class="reservation-event_place"><%= @reservations.event.place %></p>
            </div>
            <div class="cancel">
            </div>
        </div>
    <% else %>
        <div class="alert alert-secondary text-center" role="alert">
            現在予約中のイベントはありません。
        </div>
    <% end %>
</div>