.event-main{
    background-color: #FEE071;
    padding: 4rem 1rem;
    border-radius: 0.3rem;
}

.event-contents{
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px 0;

    h2{
        margin-bottom: 20px;
    }

    img{
        margin-top: 1rem;
        padding: 0 1rem;
    }

    .card-title{
        font-weight: bold;
        font-size: 18px;
    }
}

.events__link-box{
    margin-bottom: 15px;
}

.event_detail-container{
    margin-top: 50px;
}

.event_detail-top{
    margin: 0 auto;
    width: 70%;

    img{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .event-title{
        font-size: 20px;
        margin-bottom: 0.5rem;
    }

    p{
        font-weight: bold;
        font-size: 16px;
    }

}