li{
    list-style: none;
}


.user__cont{

    & > div{
        margin-bottom: 50px;
    }

    &-main{
        & > div{
            margin-bottom: 10px;
        }
    }

    &-image{
        margin: 0 auto;
        & img{
            width: 190px;
            border-radius: 50%;
        }
    }

    &-name{
        font-weight: 700;
        font-size: 20px;
    }

    &-profile{
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        width: 50%;
        padding: 20px 30px;
        margin: 0 auto;
    }
}


.user__sidebar{
    &-list{
        background-color: #ccc;
        width: 230px;
        text-align: center;
        padding: 10px 0;
    
        a{
            text-decoration: none;
            color: #222;
    
            &:hover{
                color: #fff;
            }
        }
    }
}





// .mypage_sidebar{
//     &_lists{
//         width: 170px;
//         border: solid #ccc 1px;
//     }

//     &_list{
//         list-style: none;
//         border-top: solid #ccc 1px;
//         padding: 5px;
//     }
// }