li{
    list-style: none;
}


.user__cont{

    & > div{
        margin-bottom: 50px;
    }

    &-main{
        text-align: center;

        & > div{
            margin-bottom: 10px;
        }

        .part-items{
            justify-content: center;
        }
    }

    &-image{
        margin: 0 auto;
        & img{
            width: 190px;
            border-radius: 50%;
        }
    }

    &-name{
        font-weight: 700;
        font-size: 20px;
    }

    &-profile{
        word-wrap: break-word;
        background-color: #fff;
        padding: 20px 30px;
        margin: 0 auto;
    }
}

.user__sidebar{

    &-lists{
        margin-left: 0;
        padding: 0;
    }


    &-list{
        background-color: #666;        
        text-align: center;
        padding: 10px 0;
        margin-bottom: 5px;
    
        a{
            display: block;
            width: 100%;
            text-decoration: none;
            color: #fff;

            &:hover{
                opacity: 1;
            }
        }
    }
}





// .mypage_sidebar{
//     &_lists{
//         width: 170px;
//         border: solid #ccc 1px;
//     }

//     &_list{
//         list-style: none;
//         border-top: solid #ccc 1px;
//         padding: 5px;
//     }
// }