<div class="d-flex align-items-center">
  <h1>ユーザー管理画面</h1>
  <div class="ml-auto boards__linkBox">
    <a href="/users/new" class="btn btn-outline-dark">新規作成</a>
  </div>
</div>

<table class="table table-hover boards__table">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>名前</th>
      <th>メールアドレス</th>
      <th>管理権限</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
        <td><%= user.id %></td>
        <%# TODO：名前カラムを作って置き換える %>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <%# TODO：あり・なし表示（コントローラ修正？） %>
        <td><%= user.admin %></td>
        <%# link_to設置 %>
        <td>詳細</td>
    </tr>
  <% end %>
  </tbody>
</table>