<div class="flash_message text-center">
    <% if flash[:notice] %>
        <p class="alert alert-success text_center"><%= notice %></p>
    <% elsif flash[:alert] %>
        <% alert.each do |al_msg| %>
            <p class="alert alert-danger text_center"><%= msg %></p>
        <% end %>
    <% end %>
</div>